/.libs
/html
/*.stamp
/gxr-decl-list.txt
/gxr-decl-list.txt.bak
/gxr-decl.txt
/gxr-decl.txt.bak
/gxr-undeclared.txt
/gxr-undocumented.txt
/gxr-unused.txt
/gxr.args
/gxr.hierarchy
/gxr.interfaces
/gxr.prerequisites
/gxr.signals
/gxr.types
/gtkdoc-check.log
/gtkdoc-check.test
/gtkdoc-check.trs
/test-suite.log

